#light .neu_search__input_root{
  background: #E5E8ED;
  box-shadow: inset -4px 8px 13px rgba(152, 151, 151, 0.68), inset -1px -8px 13px rgba(255, 255, 255, 0.7);
  border-radius: 45px;
}

#dark .neu_search__input_root{
  background: #222222;
  box-shadow: inset -7px -6px 11px rgba(46, 44, 44, 0.99), inset 6px 9px 16px rgba(0, 0, 0, 0.8);
  border-radius: 45px;
}

#light .neu_search__input{
  padding: 24px;
  background: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

#dark .neu_search__input{
  padding: 24px;
  background: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #7C7A7A;
}

#light .neu_rounded_down_input__root{
  background: #EFF4F8;
  box-shadow: inset 0px -4px 8px #FFFFFF, inset 0px 4px 6px #A0B9D0;
  border-radius: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.01em;
}
#dark .neu_rounded_down_input__root{
  
}

#light .neu_rounded_down_input__root input::placeholder{
  letter-spacing: 0.01em;
  color: #7F838F;
}
#dark .neu_rounded_down_input__root input::placeholder{
  letter-spacing: 0.01em;
  color: #7F838F;
}


#light .neu_checkbox__root{
  display: flex;
  align-items: center;
}
#dark .neu_checkbox__root{
  display: flex;  
  align-items: center;
}

#light .neu_checkbox__root input{
  cursor: pointer;
  opacity: 0.5;
  display: none;
}
#dark .neu_checkbox__root input{
  cursor: pointer;
  opacity: 0.5;
  display: none;
}

#light .neu_checkbox__root input[type='checkbox']:checked + label::before{
  content: '\002714';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2B2B2E;
}

#light .neu_checkbox__root label{
  display: flex;
  position: relative;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: #1C1C1C;
  margin-left: 10px;
}
#dark .neu_checkbox__root label{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  /* color: #1C1C1C; */
  margin-left: 10px;
}

#light .neu_checkbox__root label::before{
  content: '';
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #DDA01A -18%, #FEC83A 116%);
  box-shadow: 2px 2px 3px #B7C7D7, -2px -2px 3px #FFFFFF;
  border-radius: 5px;
  margin-right: 10px;
}
#dark .neu_checkbox__root label::before{
  content: '';
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #DDA01A -18%, #FEC83A 116%);
  box-shadow: 2px 2px 3px #B7C7D7, -2px -2px 3px #FFFFFF;
  border-radius: 5px;
  margin-right: 10px;
}